

/*~~~~~~~~~~~~~~~~ Menu Styles (global - all menus) ~~~~~~~~~~~~~~~~*/


	/****[Main Menu]****/

	/*Main Menu Container*/
	.nfMain {background-color:#ddd;padding:0px;border-style:solid;border-width:1px 0px 1px 0px;border-color:#333;}

	/*Items*/
	.nfMain .nfItem {background:transparent url('../../images/gallery/menu/simpleAnimated/bg.gif') repeat-x;}

	/*Item Links*/
	.nfMain .nfLink {border-style:solid;border-width:0px 0px 0px 1px;border-color:#333;padding:6px 40px 6px 20px;font-family:Arial;font-size:14px;color:#039;text-decoration:none;}

	/*Item Links - Parent*/
	.nfMain .nfParentLink {background:transparent url('../../images/arrow2_down.gif') no-repeat 92% 52%;}
	
	/*Item Links - Hover (duplicate styles below!)*/
	.nfPure .nfItem:hover>.nfLink, .nfPure .nfItem:hover>*>.nfLink {text-decoration:underline;}
	.nfPure .nfLink:hover, .nfMain .nfJSHover {text-decoration:underline;}

	/*Item Links - Active*/
	.nfMain .nfItem .nfJSActive {background-color:#eee;color:#333;text-decoration:underline;}
	
	/*Item Links - Focus*/
	.nfPure .nfLink:focus, .nfMain .nfItem .nfJSFocus {text-decoration:underline;}	

	/*Item Links - Breadcrumbs*/
	.nfMain .nfItem .nfJSBreadcrumb {}



	/****[Sub Menus]****/

	/*Sub Menu Position Offsets*/
	.nfMain .nfSubC {margin:0px 0px 0px 0px;}

	/*Sub Menu Styles*/
	.nfMain .nfSubS {background-color:#eee;padding:15px;border:solid 1px #000;border-width:0px 1px 1px 1px;-moz-border-radius:0px 0px 6px 6px;-webkit-border-bottom-right-radius:6px;-webkit-border-bottom-left-radius:6px;}

	/*Sub Menu Position Offsets - Level 2*/
	.nfMain .nfSubS .nfSubC {margin:-1px 0px 0px -0px;}

	/*Sub Menu Styles - Level 2*/
	.nfMain .nfSubS .nfSubS {border-width:1px;-moz-border-radius:0px 10px 10px 10px;-webkit-border-bottom-left-radius:10px;}

	/*Items*/
	.nfMain .nfSubC .nfItem {background:none;}

	/*Item Links*/
	.nfMain .nfSubS .nfLink {border-style:solid;border-width:0px 0px 1px 0px;border-color:#999;padding:6px 40px 6px 5px;font-size:13px;color:#999;}

	/*Item Links - Parent*/
	.nfMain .nfSubS .nfParentLink {background-image:url('../../images/arrow2_right.gif');}
	
	/*Item Links - Last Child (ignored by IE8 & down)*/
	.nfMain .nfSubS .nfItem:last-child .nfLink {border-width:0px;}
	
	/*Item Links - Hover (duplicate styles below!)*/
	.nfMain .nfSubC .nfItem:hover>.nfLink {}
	.nfMain .nfSubC .nfLink:hover, .nfMain .nfSubC .nfJSHover {}

	/*Item Links - Active*/
	.nfMain .nfSubS .nfItem .nfJSActive {background-color:#ddd;color:#333;text-decoration:underline;}
	
	/*Item Links - Focus*/
	.nfPure .nfSubS .nfLink:focus, .nfMain .nfSubS .nfItem .nfJSFocus {color:#03f;}	

	/*Item Links - Breadcrumbs*/
	.nfMain .nfSubS .nfItem .nfJSBreadcrumb {background-color:#999;}
